* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.4s;
}

body.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

body.dark-mode {
  background-color: #2b2a2a;
  color: #c94e06;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.folio-container {
  margin-top: 3.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  .folio-label-container {
    font-weight: 600;
    span {
      font-family: "Bela Yasmine", serif;
      font-style: italic;
    }
    .folio-email-label {
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
  hr {
    margin: 1rem 0;
  }
  a {
    color: rgb(125, 121, 121);
  }
  img {
    height: 25rem;
    width: 25rem;
  }
  .folio-arrow-icon {
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
  }

  button {
    border: none;
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to left, #df6f0d, #e3d2c3);
    transition: all 3s ease;
  }

  button:hover {
    animation: bounce 1.5s ease forwards;
  }
}

.polio-summary-container {
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  p {
    border: 1px solid #c7cdce;
    border-radius: 1rem;
    box-shadow: 1px 2px 10px 3px #b8b9bb;
    padding: 4rem 3rem;
    margin: 1rem 1rem 3rem 1rem;
    max-width: 80%;
    align-self: center;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    @media screen and (max-width: 769px) {
      padding: 1rem;
      line-height: 1.4rem;
    }
  }

  img {
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
  }

  @media screen and (max-width: 769px) {
    padding: 1rem;
  }
}

.polio-skill-container {
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 769px) {
    padding: 1rem;
  }
}

.mode-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}
