* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.4s;
}

body.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

body.dark-mode {
  background-color: #2b2a2a;
  color: #c94e06;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.folio-nav-container {
  width: 100%;
  height: 4rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  .mode-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
  }
}

.folio-container {
  padding-top: 3.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  .folio-label-container {
    font-weight: 600;
    span {
      font-family: "Bela Yasmine", serif;
      font-style: italic;
    }
    .folio-email-label {
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
  .folio-profile-image {
    height: 25rem;
    width: 25rem;

    @media screen and (max-width: 769px) {
      height: 20rem;
      width: 20rem;
      padding-top: 1rem;
    }
  }
  hr {
    margin: 1rem 0;
  }
  a {
    color: rgb(125, 121, 121);
  }
  img {
    height: 25rem;
    width: 25rem;
  }
  .folio-arrow-icon {
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
  }

  button {
    border: none;
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to left, #df6f0d, #e3d2c3);
    transition: all 3s ease;
  }

  button:hover {
    animation: bounce 1.5s ease forwards;
  }
}

.polio-summary-container {
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  p {
    border: 1px solid #c7cdce;
    border-radius: 1rem;
    box-shadow: 1px 2px 10px 3px #b8b9bb;
    padding: 4rem 3rem;
    margin: 1rem 1rem 3rem 1rem;
    max-width: 80%;
    align-self: center;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    @media screen and (max-width: 769px) {
      padding: 1rem;
      line-height: 1.4rem;
    }
  }

  img {
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
  }

  @media screen and (max-width: 769px) {
    padding: 1rem;
  }
}

.folio-skill-container {
  padding: 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  .folio-skill-card {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
    p {
      background-color: transparent;
      width: 15rem;
      height: 2.5rem;
      border-radius: 1.5rem;
      font-weight: 600;
      box-shadow: 2px 2px 6px 1px #efb683;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media screen and (max-width: 500px) {
      padding: 1rem;
      min-height: 70vh;
      overflow-y: scroll;
      border: 1px solid #f2925b;
      border-radius: 0.3rem;
    }
  }
  img {
    height: 2.5rem;
    width: 3rem;
    cursor: pointer;
  }
  @media screen and (max-width: 769px) {
    padding: 1rem;
  }
}

.folio-contact-container {
  padding: 2rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    margin: 0.5rem 0;
    border: 1px solid #f75e06;
    width: 25%;
  }
  .folio-contact-card {
    align-self: center;
    margin-top: 0.5rem;
    .folio-contact-mail {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      img {
        display: none;
      }
      a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}
